__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.coverage
htmlcov/
build/
dist/
release/
*.whl
*.tar.gz
docs/build/
project-documentation.zip

logs/*
!logs/.gitkeep

data/*
!data/raw/
!data/raw/.gitkeep
!data/processed/
!data/processed/.gitkeep

artifacts/*
!artifacts/.gitkeep

mlruns/
mlflow.db

.ipynb_checkpoints/
.venv/
